@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

  .penthouse {
    clip-path: polygon(54.3% 6.8%, 98.5% 23.5%, 97.7% 48.8%, 77.1% 44%, 58.6% 29.3%, 43.4% 38%, 28.4% 50%, 28.3% 38%, 38% 20.3%);
  }
        .apartmentThirteen{
          clip-path: polygon(47.9% 10%, 91.5% 10%, 92.2% 43%, 75.6% 43.3%, 75.4% 86.8%, 10.4% 87.3%, 10.2% 59%, 21.6% 31%, 47.4% 30.3%);
        }
  
  .thirdFloor {
    clip-path: polygon(70.2% 58.5%, 97.7% 61.5%, 97.7% 48.8%, 77.1% 44%, 58.6% 29.3%, 43.4% 38%, 28.4% 50%, 28.2% 65.3%, 51.3% 54%);
  }
        .apartmentTwelve {
          clip-path: polygon(69.3% 9.5%, 70.7% 14.8%, 91.5% 14.8%, 91.5% 38.3%, 88% 38.3%, 87.6% 43.3%, 47.7% 43.5%, 47.7% 14.8%, 54.8% 9.5%);
        }
        
        .apartmentEleven {
          clip-path: polygon(48.6% 30.3%, 49.1% 49%, 41.7% 49.3%, 41.7% 61.3%, 16.8% 61.3%, 16.8% 52%, 20.5% 52%, 20.5% 31%, 33.3% 30.8%);
        }

        .apartmentTen {
          clip-path: polygon(30.7% 60.3%, 48.9% 60.3%, 49.5% 71%, 49.2% 87%, 10.2% 87.3%, 9.9% 60.8%);
        }

        .apartmentNine {
          clip-path: polygon(63.2% 54.3%, 62.9% 49.3%, 75.3% 49.5%, 75.6% 69.5%, 68.9% 69.5%, 69.2% 77.5%, 48.8% 77.5%, 48.4% 54.5%);
        }

  .secondFloor {
    clip-path: polygon(70.2% 58.5%, 97.7% 61.5%, 97.8% 76%, 90.2% 74.8%, 77.6% 73.8%, 61.3% 71.8%, 27.8% 74.3%, 28.2% 65.3%, 51.3% 54%);
  }

        .apartmentEight {
          clip-path: polygon(69.3% 9.5%, 70.7% 14.8%, 91.5% 14.8%, 91.5% 38.3%, 88% 38.3%, 87.6% 43.3%, 47.7% 43.5%, 47.7% 14.8%, 54.8% 9.5%);
        }
        
        .apartmentSeven {
          clip-path: polygon(48.6% 30.3%, 49.1% 49%, 41.7% 49.3%, 41.7% 61.3%, 16.8% 61.3%, 16.8% 52%, 20.5% 52%, 20.5% 31%, 33.3% 30.8%);
        }

        .apartmentSix {
          clip-path: polygon(30.7% 60.3%, 48.9% 60.3%, 49.5% 71%, 49.2% 87%, 10.2% 87.3%, 9.9% 60.8%);
        }

        .apartmentFive {
          clip-path: polygon(63.2% 54.3%, 62.9% 49.3%, 75.3% 49.5%, 75.6% 69.5%, 68.9% 69.5%, 69.2% 77.5%, 48.8% 77.5%, 48.4% 54.5%);
        }

  .firstFloor {
    clip-path: polygon(59.7% 82%, 97.9% 83.5%, 97.8% 76%, 90.2% 74.8%, 77.6% 73.8%, 61.3% 71.8%, 27.8% 74.3%, 28.4% 81.3%, 41% 82.5%);
  }
        .apartmentFour {
          clip-path: polygon(31.5% 34.5%, 31.5% 46.5%, 36.3% 46.8%, 35.9% 61%, 11.9% 61.5%, 11.9% 54%, 7.1% 54%, 6.8% 43.5%, 6.8% 34.8%);
        }
        
        .apartmentThree {
          clip-path: polygon(43.4% 94.5%, 30.2% 94.8%, 21.7% 94.8%, 13.9% 94.8%, 5.1% 94.8%, 4.7% 80.5%, 4.7% 61.5%, 23.4% 61.5%, 42.7% 61.5%);
        }

        .apartmentTwo {
          clip-path: polygon(57.2% 50%, 80.8% 50%, 80.7% 81.5%, 43.1% 81.5%, 42.3% 54.3%, 57.3% 54%);
        }

        .apartmentOne {
          clip-path: polygon(62.9% 9.3%, 63.7% 16%, 95.9% 15.3%, 96% 48%, 80.5% 47.8%, 80.5% 43%, 39.6% 43.3%, 39.7% 14.5%, 39.4% 9.3%);
        }

  .parking {
    clip-path: polygon(59.7% 82%, 97.9% 83.5%, 98% 100.3%, 91.9% 100.3%, 78.6% 100.3%, 61.8% 100.3%, 28.3% 100.3%, 28.4% 81.3%, 41% 82.5%);
  }

        .parkingOne{
          clip-path: polygon(72.3% 27.5%, 89.8% 27.5%, 90.2% 34.3%, 72.4% 34.3%);
        }
        .parkingTwo{
          clip-path: polygon(72.7% 41%, 89.8% 41%, 90.2% 34.3%, 72.4% 34.3%);
        }
        .parkingThree{
          clip-path: polygon(72.7% 41%, 89.8% 41%, 89.5% 47.3%, 72.8% 47.5%);
        }
        .parkingFour{
          clip-path: polygon(72.7% 53.8%, 89.4% 53.8%, 89.5% 47.3%, 72.8% 47.5%);
        }
        .parkingFive{
          clip-path: polygon(77.7% 54%, 92.6% 53.5%, 92.7% 60.3%, 77.7% 59.8%);
        }
        .parkingSix{
          clip-path: polygon(77.7% 66.8%, 92.9% 66.8%, 92.7% 60.3%, 77.7% 60%);
        }
        .parkingSeven{
          clip-path: polygon(72.3% 66.5%, 89% 66.5%, 89.5% 73.3%, 72.4% 73.3%);
        }
        .parkingEight{
          clip-path: polygon(73.1% 79.5%, 89.4% 79.5%, 89.5% 73%, 72.8% 73%);
        }
        .parkingNine{
          clip-path: polygon(73.1% 79.5%, 89.4% 79.5%, 89.5% 85.8%, 72.8% 86%);
        }
        .parkingTen{
          clip-path: polygon(73.1% 93.3%, 90.1% 93.3%, 89.5% 85.8%, 72.8% 86%);
        }
        .parkingEleven{
          clip-path: polygon(39% 83%, 39.5% 85.8%, 56.2% 85.8%, 55.9% 93%, 27.1% 93%, 27.2% 83.3%, 33.7% 83.3%);
        }
        .parkingTwelve{
          clip-path: polygon(39.5% 79.3%, 56.6% 79%, 56.2% 86%, 38.9% 86.3%);
        }
        .parkingThirteen{
          clip-path: polygon(39.5% 79.3%, 55.6% 79%, 55.5% 72.8%, 38.9% 73%);
        }
        .parkingFourteen{
          clip-path: polygon(61.4% 62.8%, 61.6% 67%, 56.2% 67.3%, 56.3% 73.3%, 39.5% 73%, 39.2% 62.8%);
        }
        .parkingFifteen{
          clip-path: polygon(38.8% 40.5%, 55.9% 40.5%, 56.2% 50.5%, 38.2% 50.8%);
        }
        .parkingSixteen{
          clip-path: polygon(39.5% 40.5%, 55.9% 40.5%, 56.5% 34.3%, 39.2% 34.3%);
        }
        .parkingSeventeen{
          clip-path: polygon(39.1% 27.5%, 55.9% 27.5%, 55.8% 34%, 39.2% 34.3%);
        }



}

